.container{
    color: rgb(215, 215, 215);
    max-width: 1680px;  
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@keyframes appearance {   
    from {     
      opacity: 0;   
    }   
    to {
        opacity: 1;
    }
}

.image{
    animation: 3s ease-out appearance;
    text-align: center;
    margin-bottom: 50px;
}

.h1{
   margin: 50px 0 5px 0;
}

@media (max-width:1800px){
    .container{
        margin: 0 80px 0 80px;    
    }
}

@media (max-width:640px){
    .container{
        margin: 0 40px 0 40px;    
    }
}

@media (max-width:460px){
    .h1{
        font-size: 23px;    
    }
    .image img{
        width: 178px;
    }
    .container{
        margin: 0 20px 0 20px;   
    }
}