.footer{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #d988dd;
    background-color: #191e2c;
    margin-top: 50px;
}

@media (max-width:640px){
    .footer{
        font-size: 15px;
    }
}

@media (max-width:360px){
    .footer{
        font-size: 14px;
    }   
}